/* templates */
@import './base/constants.css';
@import './base/reset.css';
@import './base/container.css';

/* layout */
@import './components/layout/header.css';
@import './components/layout/section-main.css';
@import './components/layout/footer.css';

/* components */
@import './components/core/button.css';
@import './components/core/card.css';

.about-us {
  display: flex;
  margin-top: 15rem;
  gap: 18.8rem;
  justify-content: space-between;
  align-items: flex-start;
}

.about-us__content {
  position: relative;
}

.about-us__img {
  max-width: 350px;
  width: 100%;
}
.about-us__content--title {
  margin-bottom: 4.4rem;
  font-size: 60px;
  margin-top: 4rem;
}

.about-us__content--text {
  margin-bottom: 3.4rem;
  line-height: 1.5;
}

.about-us .about-us__content--list {
  list-style: square;
  margin-left: 30px;
}

.about-us .about-us__content--list li {
  padding: 1rem 0;
}

.about-us .about-us__content--list li::marker {
  font-size: 2.5rem;
}

.about-us__content span {
  position: absolute;
  top: -30px;
  left: 0;
  font-weight: bold;
  padding: 1rem;
  border: 1px solid var(--primary);
}

.prices {
  position: relative;
  margin: 10rem auto;
}

.prices .prices__header {
  margin-bottom: 40px;
}

.prices .prices__header span {
  position: absolute;
  top: 0;
  right: 0;
  font-weight: bold;
  padding: 1rem;
  border: 1px solid var(--primary);
}

.prices .prices__header img {
  max-width: 350px;
}

.prices .prices__header--title {
  max-width: 60%;
  text-align: end;
  flex-direction: column;
  align-self: center;
  justify-content: flex-end;
}

.prices .prices__header--title h3 {
  font-size: 5rem;
  align-self: center;
  margin: 1rem;
}

.prices .prices__header--description {
  font-size: 1.4rem;
  align-self: flex-end;
}

@media (max-width: 768px) {
  .prices .prices__header.flex,
  .about-us {
    flex-direction: column-reverse;
    align-items: center;
    gap: 2.5rem;
  }

  .prices .prices__header--title {
    max-width: 100%;
    text-align: start;
  }

  .prices .prices__header span {
    display: none;
  }

  .prices .prices__header--title h3,
  .about-us__content--title {
    font-size: 2.8rem;
    width: 100%;
    margin: 2.5rem auto;
  }

  .prices .prices__header img {
    max-width: 200px;
    margin: 2rem auto;
  }
}
