/* BASE */
@import './base/constants.css';
@import './base/reset.css';
@import './base/container.css';

/* COMPONENTS */
@import './components/header.css';
@import './components/section-main.css';
@import './components/footer.css';
@import './components/button.css';
@import './components/card.css';

/* PAGES */
@import './pages/home.css';
@import './pages/page404.css';
@import './pages/approve-signature.css';
