.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  font-size: 1.8rem;
  max-width: 100%;
  width: 100%;
  padding: 1.2rem;
  border-radius: 8px;
  cursor: pointer;
}

.button__primary {
  background-color: var(--tertiary);
  color: var(--secondary);
}

.button__secondary {
  background-color: var(--secondary);
  color: var(--primary);
}

.button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
