.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--primary);
  padding: 1.6rem;
}

.menu .menu__content {
  display: flex;
  align-items: center;
  width: 50%;
}

.menu .menu__content .menu__content--logo {
  max-width: 50px;
  margin-right: 2.4rem;
}

.menu .menu__content .menu__content--nav {
  display: flex;
  gap: 3rem;
}

.menu .menu__login {
  width: 10%;
  justify-self: flex-end;
}

@media (max-width: 900px) {
  .menu .menu__content .menu__content--nav {
    display: none;
  }

  .menu .menu__login {
    width: 100px;
  }
}
