/* ABOUT US */
.about-us {
  display: flex;
  margin-top: 2.5rem;
  gap: 18.8rem;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row-reverse;
}

.about-us__content {
  position: relative;
}

.about-us__content--title {
  margin-bottom: 4.4rem;
  font-size: 60px;
  margin-top: 4rem;
}

.about-us__content--text {
  margin-bottom: 3.4rem;
  line-height: 1.5;
}

.about-us .about-us__content--list {
  list-style: square;
  margin-left: 30px;
}

.about-us .about-us__content--list li {
  padding: 1rem 0;
}

.about-us .about-us__content--list li::marker {
  font-size: 2.5rem;
}

.about-us__content span {
  position: absolute;
  top: -30px;
  left: 0;
  font-weight: bold;
  padding: 1rem;
  border: 1px solid var(--primary);
}

/* TESTIMONIALS */
#testimonials {
  overflow: hidden;
}

#testimonials header {
  margin-bottom: 0;
}

#testimonials blockquote {
  min-height: 150px;
  padding: 3rem;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  background-color: white;
}

#testimonials blockquote p {
  position: relative;
  text-indent: 1.875rem;
  margin-bottom: 1.5rem;
}

#testimonials blockquote p span {
  font: 700 2rem serif;
  position: absolute;
  top: -0.375rem;
  left: -1.375rem;
}

#testimonials cite {
  display: flex;
  align-items: center;
  font-style: normal;
}

#testimonials cite img {
  width: 2rem;
  height: 2rem;
  object-fit: cover;
  margin-right: 0.5rem;
  border-radius: 50%;
}

/* swiper */
.swiper-slide {
  height: auto;
  padding: 4rem 1rem;
}

.section-wrapper {
  margin: 10rem auto;
}

.section-wrapper .section-wrapper__header {
  position: relative;
  margin-bottom: 40px;
}

.section-wrapper .section-wrapper__header span {
  position: relative;
  font-weight: bold;
  top: -20px;
  padding: 1rem;
  border: 1px solid var(--primary);
}

.section-wrapper .section-wrapper__header img {
  max-width: 350px;
}

.section-wrapper .section-wrapper__header--title {
  max-width: 60%;
  text-align: end;
  flex-direction: column;
  justify-content: flex-end;
}

.section-wrapper .section-wrapper__header--title h3 {
  font-size: 5rem;
  align-self: center;
  margin: 1rem;
}

.section-wrapper .section-wrapper__header--description {
  font-size: 1.4rem;
  align-self: flex-end;
}

/* PRICE */
.price.section-wrapper .section-wrapper__header span {
  right: 0;
}

@media (max-width: 768px) {
  .section-wrapper .section-wrapper__header.flex,
  .about-us {
    flex-direction: column-reverse;
    align-items: center;
    gap: 2.5rem;
  }

  .section-wrapper .section-wrapper__header--title {
    max-width: 100%;
    text-align: start;
  }

  .section-wrapper .section-wrapper__header--title h3,
  .about-us__content--title {
    font-size: 2.8rem;
    width: 100%;
    margin: 2.5rem auto;
  }

  .section-wrapper .section-wrapper__header img {
    max-width: 200px;
    margin: 2rem auto;
  }
}
